$color_main: #e21a21;
$color_main_light: #f71e22;
$color_headers:#333;
$color_text: #231f20;
$color_grey: #737373;
$color_header_title_bar_bg: #423f3f;

$font_main: Roboto Condensed, sans-serif;
$font_text: Roboto, sans-serif;

$size_wrap: 1200px;
$size_gup: 30px;
