*,
::before,
::after {
  box-sizing: inherit;
  font-family: inherit;
  line-height: 1;
}

.visually_hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

h1,
h2,
h3,
h4 {
  font-family: $font_main;
  color: $color_headers;
}

h1 {
  font-size: 2.25rem;
}
