*,
::before,
::after {
  box-sizing: inherit;
  font-family: inherit;
  line-height: 1;
}

.visually_hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $font_main;
}

section,
main,
footer,
.content {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section,
  main,
  footer,
  .content {
    padding: 0 calc(50% - 280px);
  }
}

@media (min-width: 767.98px) {
  section,
  main,
  footer,
  .content {
    padding: 0 calc(50% - 370px);
  }
}

@media (min-width: 991.98px) {
  section,
  main,
  footer,
  .content {
    padding: 0 calc(50% - 490px);
  }
}

@media (min-width: 1199.98px) {
  section,
  main,
  footer,
  .content {
    padding: 0 calc(50% - 600px);
  }
}

.right {
  float: right;
}

h1,
h2,
h3,
h4 {
  color: $color_headers;
}

h1 {
  font-size: 2.25rem;
}

.ekf__form-group {
  margin: 0 0 30px;
  padding: 3px;
  border: 1px solid #ccc;
  label {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font_text;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0;
    color: $color_grey;
  }
  input {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.75rem;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #000;
    box-shadow: none;
    &:focus {
      outline: none;
      background-color: #f0f0f0;
    }
  }
}
.ekf__button_submit {
  padding: 8px 24px;
  background-color: $color_main;
  color: white;
  border: 1px solid transparent;
  font-family: $font_text;
  font-size: 0.875rem;
  &:hover {
    background-color: $color_main_light;
  }
  &:focus {
    outline: none;
    background-color: $color_main_light;
  }
  &:active {
    outline: none;
    background-color: $color_main_light;
  }
}
